@import "./styles/index.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: black !important;
  flex: 1;

  @include stub {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: #555;

    &::after {
      content: "Sorry, your resolution is not supported:(";
      font-size: 7vw;
      line-height: 1.5;
      color: #333;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .body {
      display: none;
    }
  }
}
